<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOltdLCJkaXNwbGF5TmFtZSI6Ik9iamVjdENhcHR1
		cmVFeGFtcGxlQXBwIiwicGFja2FnZUtpbmQiOnsicm9vdCI6e319LCJwbGF0
		Zm9ybXMiOlt7Im9wdGlvbnMiOltdLCJwbGF0Zm9ybU5hbWUiOiJpb3MiLCJ2
		ZXJzaW9uIjoiMTcuMCJ9LHsib3B0aW9ucyI6W10sInBsYXRmb3JtTmFtZSI6
		InZpc2lvbm9zIiwidmVyc2lvbiI6IjEuMCJ9XSwicHJvZHVjdHMiOlt7Im5h
		bWUiOiJPYmplY3RDYXB0dXJlIiwic2V0dGluZ3MiOltdLCJ0YXJnZXRzIjpb
		Ik9iamVjdENhcHR1cmUiXSwidHlwZSI6eyJsaWJyYXJ5IjpbImF1dG9tYXRp
		YyJdfX0seyJuYW1lIjoiT2JqZWN0Q2FwdHVyZUV4YW1wbGVBcHAiLCJzZXR0
		aW5ncyI6W3sidGVhbUlkZW50aWZpZXIiOlsiM1FQVjg5NEMzMyJdfSx7ImRp
		c3BsYXlWZXJzaW9uIjpbIjEuMCJdfSx7ImJ1bmRsZVZlcnNpb24iOlsiMSJd
		fSx7ImlPU0FwcEluZm8iOlt7ImFjY2VudENvbG9yIjp7InByZXNldENvbG9y
		Ijp7InByZXNldENvbG9yIjp7InJhd1ZhbHVlIjoiYnJvd24ifX19LCJhcHBD
		YXRlZ29yeSI6eyJyYXdWYWx1ZSI6InB1YmxpYy5hcHAtY2F0ZWdvcnkuZGV2
		ZWxvcGVyLXRvb2xzIn0sImFwcEljb24iOnsicGxhY2Vob2xkZXIiOnsiaWNv
		biI6eyJyYXdWYWx1ZSI6ImJpbm9jdWxhcnMifX19LCJjYXBhYmlsaXRpZXMi
		OltdLCJzdXBwb3J0ZWREZXZpY2VGYW1pbGllcyI6WyJwYWQiLCJwaG9uZSJd
		LCJzdXBwb3J0ZWRJbnRlcmZhY2VPcmllbnRhdGlvbnMiOlt7InBvcnRyYWl0
		Ijp7fX0seyJsYW5kc2NhcGVSaWdodCI6e319LHsibGFuZHNjYXBlTGVmdCI6
		e319LHsicG9ydHJhaXRVcHNpZGVEb3duIjp7ImNvbmRpdGlvbiI6eyJkZXZp
		Y2VGYW1pbGllcyI6WyJwYWQiXX19fV19XX1dLCJ0YXJnZXRzIjpbIkFwcE1v
		ZHVsZSJdLCJ0eXBlIjp7ImV4ZWN1dGFibGUiOm51bGx9fV0sInRhcmdldE1h
		cCI6eyJBcHBNb2R1bGUiOnsiZGVwZW5kZW5jaWVzIjpbXSwiZXhjbHVkZSI6
		W10sIm5hbWUiOiJBcHBNb2R1bGUiLCJwYWNrYWdlQWNjZXNzIjp0cnVlLCJw
		YXRoIjoiRGV2ZWxvcG1lbnQiLCJyZXNvdXJjZXMiOlt7InBhdGgiOiJSZXNv
		dXJjZXMiLCJydWxlIjp7InByb2Nlc3MiOnt9fX1dLCJzZXR0aW5ncyI6W3si
		a2luZCI6eyJlbmFibGVVcGNvbWluZ0ZlYXR1cmUiOnsiXzAiOiJCYXJlU2xh
		c2hSZWdleExpdGVyYWxzIn19LCJ0b29sIjoic3dpZnQifV0sInR5cGUiOiJl
		eGVjdXRhYmxlIn0sIk9iamVjdENhcHR1cmUiOnsiZGVwZW5kZW5jaWVzIjpb
		XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJPYmplY3RDYXB0dXJlIiwicGFja2Fn
		ZUFjY2VzcyI6dHJ1ZSwicGF0aCI6IlNvdXJjZXMiLCJyZXNvdXJjZXMiOltd
		LCJzZXR0aW5ncyI6W3sia2luZCI6eyJlbmFibGVVcGNvbWluZ0ZlYXR1cmUi
		OnsiXzAiOiJCYXJlU2xhc2hSZWdleExpdGVyYWxzIn19LCJ0b29sIjoic3dp
		ZnQifV0sInR5cGUiOiJyZWd1bGFyIn0sIk9iamVjdENhcHR1cmVUZXN0cyI6
		eyJkZXBlbmRlbmNpZXMiOlt7ImJ5TmFtZSI6WyJPYmplY3RDYXB0dXJlIixu
		dWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6Ik9iamVjdENhcHR1cmVUZXN0
		cyIsInBhY2thZ2VBY2Nlc3MiOnRydWUsInBhdGgiOiJUZXN0cyIsInJlc291
		cmNlcyI6W10sInNldHRpbmdzIjpbXSwidHlwZSI6InRlc3QifX0sInRhcmdl
		dHMiOlt7ImRlcGVuZGVuY2llcyI6W10sImV4Y2x1ZGUiOltdLCJuYW1lIjoi
		T2JqZWN0Q2FwdHVyZSIsInBhY2thZ2VBY2Nlc3MiOnRydWUsInBhdGgiOiJT
		b3VyY2VzIiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOlt7ImtpbmQiOnsi
		ZW5hYmxlVXBjb21pbmdGZWF0dXJlIjp7Il8wIjoiQmFyZVNsYXNoUmVnZXhM
		aXRlcmFscyJ9fSwidG9vbCI6InN3aWZ0In1dLCJ0eXBlIjoicmVndWxhciJ9
		LHsiZGVwZW5kZW5jaWVzIjpbXSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBN
		b2R1bGUiLCJwYWNrYWdlQWNjZXNzIjp0cnVlLCJwYXRoIjoiRGV2ZWxvcG1l
		bnQiLCJyZXNvdXJjZXMiOlt7InBhdGgiOiJSZXNvdXJjZXMiLCJydWxlIjp7
		InByb2Nlc3MiOnt9fX1dLCJzZXR0aW5ncyI6W3sia2luZCI6eyJlbmFibGVV
		cGNvbWluZ0ZlYXR1cmUiOnsiXzAiOiJCYXJlU2xhc2hSZWdleExpdGVyYWxz
		In19LCJ0b29sIjoic3dpZnQifV0sInR5cGUiOiJleGVjdXRhYmxlIn0seyJk
		ZXBlbmRlbmNpZXMiOlt7ImJ5TmFtZSI6WyJPYmplY3RDYXB0dXJlIixudWxs
		XX1dLCJleGNsdWRlIjpbXSwibmFtZSI6Ik9iamVjdENhcHR1cmVUZXN0cyIs
		InBhY2thZ2VBY2Nlc3MiOnRydWUsInBhdGgiOiJUZXN0cyIsInJlc291cmNl
		cyI6W10sInNldHRpbmdzIjpbXSwidHlwZSI6InRlc3QifV0sInRvb2xzVmVy
		c2lvbiI6eyJfdmVyc2lvbiI6IjUuOS4wIn19
		</data>
		<key>manifestHash</key>
		<data>
		9IdJvYNsYZBy6q/JpUIQOPDhOjc/usnopd5z28XqqVg=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.9.0</string>
	</dict>
</dict>
</plist>
